<div class="row">
  <%= form_for [@app, @video] do |f| %>
  <div class="col-md-4 col-md-offset-2">
    <div class="form-group">
      <label for="video-name">Video Name</label>
      <%= f.text_field :name, autofocus: true, id:'video-name', class: 'form-control' %>
    </div>

    <div class="form-group">
      <label for="video-description">Video Description</label>
      <%= f.text_area :description, id:'video-description', class: 'form-control' %>
    </div>

    <div class="form-group">
      <label for="format">Format</label><br>
      <%= f.select(:format, [['Stereoscopic', true], ['Monoscopic', false]] ) %>
    </div>

    <div class="form-group">
      <label for="visibility">Visibility</label><br>
      <%= f.select(:visibility, [['Visible', true], ['Hidden', false]] ) %>
    </div>
  </div>

  <div class="col-md-4 col-md-offset-1">
    <p>Video Tumbnail</p>
    <p>Please make sure the image's ratio is 3:2 (w:h). If if is not this ratio, the image will be stretched to match that ratio.
      <%= f.file_field :thumbnail, class: "form-control" %>

      <p>Video Upload - <b>Must be .mp4</b></p>
      <%= f.file_field :video_file, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="text-center">
        <%= f.submit class: 'btn btn-success sharp' %>
        <% end %>
      </div>
    </div>
  </div>
