<%= form_for [@user, @app] do |f| %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h3>App Name</h3>
    <%= f.text_field :name, autofocus: true %>
  </div>
</div>

<div class="row">

  <div class="col-md-4">

    <div class="row">
      <h2 class="text-center">Splash Screen</h2>
      <div class="col-md-6">
        <% if @app.splash_image?  %>
        <img src="<%= @app.splash_image %>" class="img-responsive">
        <% else %>
        <p class="text-center">You haven't uploaded a splash screen yet.</p>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.file_field :splash_image, class: "form-control" %>
        </div>
        <p>This image will be used as the loading screen in the app.</p>
      </div>
    </div>

  </div>

  <div class="col-md-5">

    <div class="row">
      <h2 class="text-center">Icon</h2>

      <div class="col-md-6">
        <% if @app.icon?  %>
        <img src="<%= @app.icon %>" class="img-responsive">
        <% else %>
        <p class="text-center">You haven't uploaded an app icon yet.</p>
        <% end %>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.file_field :icon, class: "form-control" %>
          <p>This image will be used as the app icon. Please make sure the uploaded image is a square, or else the image will be distorted.</p>
        </div>
      </div>

    </div>

    <div class="row">
      <h2 class="text-center">Header</h2>

      <div class="col-md-6">
        <% if @app.header_image?  %>
        <img src="<%= @app.header_image %>" class="img-responsive">
        <% else %>
        <p class="text-center">You haven't uploaded a header yet.</p>
        <% end %>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.file_field :header_image, class: "form-control" %>
          <p>This image will be used as the logo in the app.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-3">
      <div class="form-group">
        Background Color<br>
        <%= f.text_field :background_color, class: 'form-control bg-color input-lg' %><br>
      </div>
      <div class="form-group">
        Font Color<br>
        <%= f.text_field :font_color, class: 'form-control font-color input-lg' %><br>
      </div>
  </div>

</div>

<div class="row">
  <div class="text-center">
    <%= f.submit "Save Changes", class: 'btn btn-success sharp' %>
  </div>
  <% end %>
</div>
