<div class="row">
  <div class="col-md-12">
    <%= link_to 'iPhone', '', class: 'btn btn-primary active sharp' %>
    <%= link_to 'Android', preview_android_app_path(@app), class: 'btn btn-primary sharp' %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h4>Loading Screen</h4>

    <div class="marvel-device iphone6 black">
      <div class="top-bar"></div>
      <div class="sleep"></div>
      <div class="volume"></div>
      <div class="camera"></div>
      <div class="sensor"></div>
      <div class="speaker"></div>
      <div class="screen">
        <% if @app.splash_image?  %>
        <img src="<%= @app.splash_image.url %>" class="img-responsive preview">
        <% end %>
      </div>
      <div class="home"></div>
      <div class="bottom-bar"></div>
    </div>

  </div> <!-- End Column -->

  <div class="col-md-3">
    <h4>App Home Screen</h4>

    <div class="marvel-device iphone6 black">
      <div class="top-bar"></div>
      <div class="sleep"></div>
      <div class="volume"></div>
      <div class="camera"></div>
      <div class="sensor"></div>
      <div class="speaker"></div>
      <div class="screen" style="background-color: <%= @app.background_color %>">
        <div class="screen-header">
          <img src="<%= @app.header_image.url %>" class="screen-logo pull-left"><br>
        </div>

        <div class="video-list">

          <% @videos.each do |video| %>
          <div class="video-preview">
            <img src="<%= video.image.url(:thumb) %>" class="thumbnail-preview"><br>
          </div>
          <% end %>

        </div>
        
      </div>
      <div class="home"></div>
      <div class="bottom-bar"></div>
    </div>

  </div> <!-- End Column -->

  <div class="col-md-3">
    <h4>Video Screen</h4>

    <div class="marvel-device iphone6 black">
      <div class="top-bar"></div>
      <div class="sleep"></div>
      <div class="volume"></div>
      <div class="camera"></div>
      <div class="sensor"></div>
      <div class="speaker"></div>
      <div class="screen" style="background-color: <%= @app.background_color %>">
        <div class="screen-header">
          <img src="<%= @app.header_image.url %>" class="screen-logo pull-left"><br>
          <p class="screen-app-name pull-left"><%= @app.name %></p>
        </div>

        <div class="video-preview">
          <% if @video && @video.image  %>
          <img src="<%= @video.image.url(:thumb) %>" class="thumbnail-preview"><br>
          <% end %>
        </div>

        <div class="video-info">
          <% if @video %>
          <h3 class="video-name"> <%= @video.name %> </h3>
          <p class="video-description"> <%= @video.description %> </p>
          <% end %>
        </div>

        <div class="row screen-footer">
          <!-- <div class="screen-footer"> -->
          <div class="col-md-3">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle-o fa-stack-2x"></i>
              <i class="fa fa-chevron-left fa-stack-1x"></i>
            </span>
          </div>

          <div class="col-md-3">
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle-o fa-stack-2x"></i>
              <i class="fa fa-mobile fa-rotate-90 fa-stack-1x"></i>
            </span>
          </div>

          <div class="col-md-3">
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle-o fa-stack-2x"></i>
              <i class="fa fa-mobile fa-rotate-90 fa-stack-1x"></i>
            </span>
          </div>

          <div class="col-md-3">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle-o fa-stack-2x"></i>
              <i class="fa fa-trash fa-stack-1x"></i>
            </span>
          </div>

          <!-- </div> -->
        </div>


      </div>
      <div class="home"></div>
      <div class="bottom-bar"></div>
    </div>

  </div> <!-- End Column -->

  <div class="col-md-3">

    <h4>App Icon</h4>
    <% if @app.icon  %>
    <img src="<%= @app.icon.url(:thumb) %>" class="img-responsive text-center">
    <% end %>

  </div> <!-- End Column -->
</div>
