<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3>Ready to Submit Your App?</h3>

    <table class="table table-hover table-condensed checklist">
      <tr>
        <% if @app.splash_image? %>
        <td><input type="checkbox" checked></td>
        <% else %>
        <td><input type="checkbox" ></td>
        <% end %>
        <td><%= link_to 'Add a Splash Screen', edit_app_path(@app) %></td>
      </tr>
      <tr>
        <% if @app.splash_color? %>
        <td><input type="checkbox" checked></td>
        <% else %>
        <td><input type="checkbox"></td>
        <% end %>
        <td><%= link_to 'Choose a Splash Color', edit_app_path(@app) %></td>
      </tr>
      <tr>
        <% if @app.icon? %>
        <td><input type="checkbox" checked></td>
        <% else %>
        <td><input type="checkbox"></td>
        <% end %>
        <td><%= link_to 'Add an App Icon', edit_app_path(@app) %></td>
      </tr>
      <tr>
        <% if @app.header_image? %>
        <td><input type="checkbox" checked></td>
        <% else %>
        <td><input type="checkbox"></td>
        <% end %>
        <td><%= link_to 'Add a Header Image', edit_app_path(@app) %></td>
      </tr>
      <tr>
        <% if @app.background_color? %>
        <td><input type="checkbox" checked></td>
        <% else %>
        <td><input type="checkbox"></td>
        <% end %>
        <td><%= link_to 'Choose a Background Color', edit_app_path(@app) %></td>
      </tr>
      <tr>
        <% if @app.font_color? %>
        <td><input type="checkbox" checked></td>
        <% else %>
        <td><input type="checkbox"></td>
        <% end %>
        <td><%= link_to 'Choose a Font Color', edit_app_path(@app) %></td>
      </tr>
      <tr>
        <% if !@app.videos.empty? %>
        <td><input type="checkbox" checked></td>
        <% else %>
        <td><input type="checkbox"></td>
        <% end %>
        <td><%= link_to 'Add Videos to Your App', new_app_video_path(@app) %></td>
      </tr>
    </table>

    <div class="text-center">
      <% if @app.submitted? %>
      <span class="btn btn-success btn-lg sharp disabled">App Submitted!</span>
      <% else %>
      <%= form_for(@app) do |f| %>
      <%= f.hidden_field :submitted, value: true %>
      <%= f.submit "Submit App", class: "btn btn-success sharp", id:'submit' %>
      <% end %>
      <% end %>
      <!-- <%= link_to 'Submit App', '', class:'btn btn-success sharp', id:'submit' %> -->
    </div>

  </div>
</div>
