<nav class="navbar navbar-default navbar-static-top brand">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= render 'shared/logo' %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-lg hidden-md hidden-sm">
          <%= link_to 'Branding', app_path(@app) %>
        </li>
        <li class="hidden-lg hidden-md hidden-sm">
          <%= link_to 'Videos', app_videos_path(@app) %>
        </li>
        <li class="hidden-lg hidden-md hidden-sm">
          <%= link_to 'Preview', preview_app_path(@app) %>
        </li>
        <%= render 'shared/login_logout' %>
      </ul>
    </div>
  </div>
</nav>
