<div id="sidebar-wrapper">
  <ul class="sidebar-nav text-center">

    <% if current_user && current_user.app %>

    <li class="branding-sidebar">
      <%= link_to app_path(@app) do %><i class="fa fa-pencil fa-2x" aria-hidden="true"></i><br>
      <span class="nav-link">Branding</span>
      <% end %>
    </li>
    <li class="videos-sidebar">
      <%= link_to app_videos_path(@app) do %>
      <i class="fa fa-play fa-2x" aria-hidden="true"></i><br>
      <span class="nav-link">Videos</span>
      <% end %>
    </li>
    <li class="preview-sidebar">
      <%= link_to preview_app_path(@app) do %>
      <i class="fa fa-search fa-2x" aria-hidden="true"></i><br>
      <span class="nav-link">Preview</span>
      <% end %>
    </li>
    <li class="submit-sidebar">
      <%= link_to submit_app_path(@app) do %>
      <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i><br>
      <span class="nav-link">Submit</span>
      <% end %>
    </li>

    <% end %>

    <li class="logout-sidebar hidden-xs">
      <%= link_to destroy_user_session_path, method: :delete  do %>
      <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i><br>
      <span class="nav-link">Logout</span>
      <% end %>

      <ul class="social-icons">
        <li><a href="https://www.instagram.com/gramercytech/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
        <li><a href="https://www.facebook.com/GramercyTech" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/GramercyTech" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a></li>
      </ul>
    </li>

  </ul>
</div>
