<!DOCTYPE html>
<html>
<head>
  <title>VRAdmin</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/nav' %>
  <div id="wrapper">
    <%= render partial: 'layouts/sidebar' %>

    <div id="page-content-wrapper">
      <div class="container-fluid">
        <p class="notice"><%= notice %></p>
        <!-- <p class="alert"><%#= alert %></p> -->
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
