<!DOCTYPE html>
<html>
<head>
  <title>VRAdmin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/nav' %>
  <div id="wrapper">
    <%= render partial: 'layouts/sidebar' %>

    <div id="page-content-wrapper">
      <div class="container-fluid">
        <!-- <p class="notice"><%#= notice %></p> -->
        <!-- <p class="alert"><%#= alert %></p> -->
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
