<!DOCTYPE html>
<html>
<head>
  <title>VRtist</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "vendor",      :media => "all", :debug => false %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "vendor",      :debug => false %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/welcome_nav' %>

  <div class="container-fluid">

    <%= yield %>

  </div>

</body>
</html>
